##############################################################################
# Paths in this array are **prepended** to the PATH environment variable with
# the same order specified here, that is, first element in this array will be
# the first path in the resulting PATH, second element will be the second path,
# etc..
# Note:
#   - Specifying relative paths in this array is undefined behaviour.
#   - Tildes are expanded to $HOME.
path = [
    "~/.gy/local/bin",
    "~/.gy/bin",
]

##############################################################################
# env: specifies which executables should be applied to each environment
# variable.
[env.DRI_PRIME]
1 = [
    "steam",
]
0 = [
    "alacritty",
]
[env.answer_to_the_ultimate_question_of_life_the_universe_and_everything]
42 = [
    "printenv",
]
# toml treats "." as signal of hierarchy.  Quote the value when it contains
# dot(s), like this:
[env.pi]
"3.14" = [
    "printenv",
]

##############################################################################
# exe: specifies which environments are associated with a given executable.
[exe.xsecurelock]
XSECURELOCK_FONT = "Cascadia Code"
XSECURELOCK_PASSWORD_PROMPT = "disco"
XSECURELOCK_COMPOSITE_OBSCURER = 0
[exe.printenv]
some_random_string = "YmFnZXgK"

# The composed environment is a combination of the above 2 configuration
# methods, duplicated environment variable names will cause `bagex` to panic.

# Author: Blurgy <gy@blurgy.xyz>
# Date:   Jul 26 2021, 00:24 [CST]
